@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
*{
	margin: 0px;
	padding: 0px;
	font-family: "Open Sans";
}

.container{
	margin: 13% auto;
	width: 70%;
	padding: 50px;
}

.link{
	display: inline-block;
	width: 100%;
	text-align: center;
}

a
{
	text-decoration: none;
	color: #00b050;	
}

h1
{
	text-align: center;
	color: #00b050;
}

table
{
	margin: 0 auto;
	text-align: center;
	border: none;
	padding: 10px;
}



th
{
	color: #00b050;
	background-color: #DDD;
	text-transform: uppercase;
	padding: 5px;
}

td
{
	padding: 3px 20px;
}

tbody tr:nth-child(odd) {
   background-color: #eee;
}
