/* Importação de arquivos */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
*
{
	margin: 0px;
	padding: 0px;
	font-size: 0.95em;
	font-family: "Open Sans";
}

.loginForm
{
	width: 30%;
	margin: 15% auto;
	padding: 10px;
}

.painel
{
	background-color: #EEE;
	padding: 20px;
	width: 80%;
	margin: 0 auto;
}

.container
{
	background-color: #EEE;
	padding: 20px;
	width: 80%;
	margin: 0 auto;
}

.menu
{
	margin-top: 50px;
}

.menu ul
{
	list-style: none;
}

.menu ul a
{
	font-weight: bold;
	text-decoration: none;
	color: #00B050;
}

.sign-info{
	margin-top: 20px;
}

a{
	font-weight: bold;
	text-decoration: none;
	color: #00B050;
}

.title
{
	color: #00b050;
	text-transform: uppercase;
	text-align: center;
	
}

div.errors
{
	font-size: 1.1em;	
	color: #ff5252;
	
}

/* Tipografia */
h1{
	font-size: 1.7em;
}


/* Forms */
fieldset{
	padding: 10px;
	border: 0px;
	border-top: 1px solid #00b050;
	border-bottom: 1px solid #00b050;
}

legend{
	font-size: 1.2em;
	text-transform: uppercase;
}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input[type=text], input[type=password]
{
	width: 97%;
	min-height: 25px;
	padding: 2px 5px;
	font-size: 1.1em;
	margin: 5px 0px;
	outline-color: #00b050;
}

input[type=submit], input[type=reset]
{
	margin: 5px 0;
	padding: 3px 5px;
	min-height: 40px;
	width: 100%;
	text-transform: uppercase;
	border: none;
	background-color: #00b050;
	color: White;
	outline: none;
	transition: background-color 0.5s linear;
}

input[type=submit]:hover, input[type=reset]:hover
{
	background-color: #009744;	
}
